<div class="header-picture">
    <img src="/static/images/razer-panel.webp" alt="">
</div>

<p class="gaming-periphery-title">
    Choose your new gaming periphery from <span>Razor</span> and jump into the world of games!
</p>

<div class="gaming-periphery-side-bar">
    <a href="#mouses">Razor Mouses</a>
    <a href="#keyboards">Razor Keyboards</a>
    <a href="#headphones">Razor Headphones</a>
</div>

<section id="mouses">
    <h1 class="gaming-periphery-product-title">Razor Mouses <span>({{mousesLength}})</span></h1>
</section>
<div class="gaming-periphery-container">
    {{#if mouses}}
    {{#each mouses}}
    <div class="gaming-periphery-product">
        <a href="/details/{{_id}}">
            <img src="{{image}}" alt="">
        </a>
        <h1>{{title}}</h1>
        {{#each mainCharacteristics}}
        <p> <i class="fas fa-check"></i> {{char}}</p>
        {{/each}}
        <div class="price-logo">
            {{#if promo}}
            <div class="promo-price-container">
                <p class="original-price">{{price}}.00$</p>
                <p class="promo-price">{{promoPrice}}.00$</p>
            </div>
            {{else}}
            <p>{{price}}$</p>
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No results found!</p>
    {{/if}}
</div>


<section id="keyboards">
    <h1 class="gaming-periphery-product-title">Razor Keyboards <span>({{keyboardsLength}})</span></h1>
</section>
<div class="gaming-periphery-container">
    {{#if keyboards}}
    {{#each keyboards}}
    <div class="gaming-periphery-product">
        <a href="/details/{{_id}}">
            <img src="{{image}}" alt="">
        </a>
        <h1>{{title}}</h1>
        {{#each mainCharacteristics}}
        <p> <i class="fas fa-check"></i> {{char}}</p>
        {{/each}}
        <div class="price-logo">
            {{#if promo}}
            <div class="promo-price-container">
                <p class="original-price">{{price}}.00$</p>
                <p class="promo-price">{{promoPrice}}.00$</p>
            </div>
            {{else}}
            <p>{{price}}$</p>
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No results found!</p>
    {{/if}}
</div>


<section id="headphones">
    <h1 class="gaming-periphery-product-title">Razor Headphones <span>({{headphonesLength}})</span></h1>
</section>
<div class="gaming-periphery-container">
    {{#if headphones}}
    {{#each headphones}}
    <div class="gaming-periphery-product">
        <a href="/details/{{_id}}">
            <img src="{{image}}" alt="">
        </a>
        <h1>{{title}}</h1>
        {{#each mainCharacteristics}}
        <p> <i class="fas fa-check"></i> {{char}}</p>
        {{/each}}
        <div class="price-logo">
            {{#if promo}}
            <div class="promo-price-container">
                <p class="original-price">{{price}}.00$</p>
                <p class="promo-price">{{promoPrice}}.00$</p>
            </div>
            {{else}}
            <p>{{price}}$</p>
            {{/if}}
        </div>
    </div>
    {{/each}}
    {{else}}
    <p>No results found!</p>
    {{/if}}
</div>